.body{
	padding-top: 150px;
	text-decoration: none;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
.row>h1{
	text-align: center;
}
.form input{
	width: 300px;
	color:black;
}
.form button{
	height: 30px;
}
.noBottomMargin{
	margin: 0px !important;
}
/*navbar*/
.navbar{
	width: 100%;
    border-radius: 0;
    background-color: rgba(0,0,0,0.3) !important;
    border: none !important;
}

.navLink{
	color: white !important;
	font-size: 1.5em ;
}
.navLink:hover{
	color: rgba(0, 255, 255, 1) !important;
	background-color: rgba(0, 0, 0, 0.2) !important;
	box-shadow: 1px 1px 1px #888888;
}
.navbar-brand {
	color: rgba(0, 255, 255, 1) !important;
	letter-spacing: 0.1em;
	font-family: 'Dancing Script', cursive;
	font-size: 2.5em !important;
}


/*jumbotron*/
.jumbotron{
	background:url("../assets/img/sea.jpg") fixed no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.jumboBox{
	text-shadow: 2px 2px #000; 
	text-align: right;
    color: white;
    background-color: rgba(0,0,0,0);
    padding-top: 200px;
    margin-bottom: 50px;
	height: 500px;
}
.coverPortrait{
	padding-top: 30px;
}
.coverPortrait img{
	width: 100%;
	border: 1px white solid;
}
.jumboBox h1{
	font-family: 'Abril Fatface', serif;
}

/*Divider - Read, Watch, Listen*/

.spacerOne{
	font-family: 'Abril Fatface', serif;
	font-size: 2.5em;
	text-align: center;
	background-color: rgba(75,75,75, 1);

}
.spacerOne a{
	color: rgba(0, 255, 255, 1) !important;
	text-decoration: none !important;
}
.spacerOne a:hover{
	color:white !important;
}

.spacerOne img{
	max-height: 100px;
}
/*Big Quote*/
.quote{
	text-align: center;
	font-family: 'Abril Fatface';
}

/*Books section*/
#books{
	background-color: rgba(75,75,75, 1);
}

/*Modals for reading poetry text*/

.modal-body{
    height: 300px;
    overflow-y: auto;
}
.modal-title{
	font-size: 2em;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
}
.modal-body p{
	padding: 0;
	margin: 0;
}
.modal-footer{
	display: flex;
}
.modal-header img{
	max-height: 150px;
}

/* About section*/
.about{
	background-color: rgba(75,75,75, 1);
}
.aboutImgWrapper{
	text-align: left;
	width: 100%;
}
.aboutText{
	padding: 20px;
	color: white;
}
/*Interviews section*/
.interviews{
	background-color: rgba(75,75,75, 1);
	color: white;
}
.interview{
	color: black;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 20px;
	font-size: 0.9em;
	height: auto;
	background-color: white;
}
.interview:hover{
	background-color: #f5f5dc;
}
/*Multimedia section*/
.multimedia{
	background-color: rgba(75,75,75, 1);
	color: white;
}
.audio, .video{
	text-align: center;
}

/*Tilter Book covers*/

.tilter {
	position: relative;
	display: block;
	flex: none;
	width: 225px;
	height: 316px;
	margin: 1.5em 2.5em;
	color: #fff;
	perspective: 1000px;
}

.tilter * {
	pointer-events: none;
}

.tilter:hover,
.tilter:focus {
	color: #fff;
	outline: none;
}

.tilter__figure,
.tilter__image {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
}

.tilter__figure > * {
	transform: translateZ(0px); /* Force correct stacking order */
}

.tilter__figure {
	position: relative;
}

.tilter__figure::before {
	content: '';
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.tilter__deco--overlay {
	background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

.tilter__deco--shine div {
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
}

.tilter__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1em;
}

.tilter__title {
	font-family: 'Abril Fatface', serif;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1;
	margin: 0;
}
/*Multimedia section*/

/*Contact section*/
.contact{
	background-color: rgba(75,75,75, 1);
	color: white;
	padding: 20px;
}
.contactImg img{
	display: flex;
	border-radius: 50%;
	margin: 0 auto;
	height: 200px;
	
}
.contactFormWrapper{
	margin: 0 auto;
	padding: 10px;
	background-color: #ddd;
	width: auto;
	text-align: center;
}
.contact input, .contact #comment{
	width: 300px;
	color: black;
}